body{
    /*background-image: url("typer.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*text-align:center;*/
    font-family: 'Fugaz One', cursive;
}

.admin-login{
    text-align:center;
    font-family: 'Fugaz One', cursive;
}
.admin{
    text-align:center;
    font-family: 'Fugaz One', cursive;
}
.generatedReports{
    text-align:center;
    font-family: 'Fugaz One', cursive;
}

h2{
    font-family: 'Fugaz One', cursive;
    color:black;
    text-align:center;
}
.addCar{
    text-align: center;
}
.adminMain{
    font-family: 'Fugaz One', cursive;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}

.addCar{
    text-align: center;
    font-family: 'Fugaz One', cursive;
    
}
.deleteCar{
    text-align: center;
    font-family: 'Fugaz One', cursive;
}

.deletePage{
    text-align:center;
    font-family: 'Fugaz One', cursive;
}

.updatepage{
    text-align:center;
    font-family: 'Fugaz One', cursive;
}

h1{
  color:white;
  font-family: 'Fugaz One', cursive;
  text-align:center;
}
.cars {
    /*background-color: white;*/
    text-align: center;
    width: 300px;
    border-style: groove;
    border-width: 5px;
    border-radius: 5px;
    margin: 0 auto;
    /*color: black;*/
}

summary, p {
    font-size: 150%;
}

h{
    font-size:3em;
}
